<form>
  <form method="POST" action="/cart">
     
     <label for="name">Cart Item:</label>
     <input type="text" name="cart"></br></br>
        <input type="submit" id="Submit">
  
  
  
  
  
  
</form>
